@charset "ISO-8859-1";

th,td
{
	padding: 3px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}


tr:nth-child(even) 
{
	
}

th
{
	background-color: #04aa6d;
	color: white;
}
body
{
	font-family: cursive;
}

#btn
{
	background-color: white;
	border: 3px solid #4CAF50;
	color: black;
	padding: 5px;
	border-radius: 5px;
	margin-left: 70px;
	
	
}

#btn:hover
{
	background-color: #ddd;
}
